/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

   /*rules for the page index*/

   header
   {
     background-color: #373737;
     color: white;
     padding: 14px;
     font-size: 9px;
     padding-left: 5%;
     width: 100%;
   }

   header h1
   {
     font-size: 28px;
   }

   .connect
   {
     margin-right: 10%;
     padding-top: 4em;
     padding-bottom: 4em;
   }

   .connect input
   {
     width: 80%;
     display: flex;
     margin-top: 1em;
     margin-left: 18%;
     border: none;
     font-size: 20px;
     border-bottom : 2px solid #373737;
     transition: width 2s;
   }


   .connect input:hover
     {

     color: #373737;
     width: 50%;
     border-bottom : 2px solid #FF5545;
     }

     .connectadmin input:hover
       {
       border-bottom : 2px solid #c3b076;
       }


   .buttonConnect
   {
     color: white;
     background-color: #373737;
   }

   .buttonConnect:hover , .linkRedirect:hover
   {
     background-color: #FF5545;
     border : 2px solid #FF5545;
   }

   .buttonConnectAdmin:hover
   {
     background-color: #c3b076;
     border : 2px solid #c3b076;
   }

   .account
   {
     margin-left: 45%;
     width: 25%;
   }

   .registre
   {
     display: flex;
     justify-content: flex-end;
     margin-right: 5%;
   }

   .registre a
   {
     margin-top: 1em;
     position:absolute;
     border: solid 2px #373737;
   }

   .linkRedirect
   {
     background-color: #373737;
   }

   .mdp
   {
     margin-left: 2%;
     font-size: 12px;
     color: #FF5545;
   }

   .mdp:hover
   {
     color: #FF5545;
   }

   footer
   {
     background-color: #373737;
     color: white;
     padding: 12px;
     margin-top: 1em;
   }

   footer ul
   {
     display: flex;
     justify-content: space-around;
     font-size: 14px;
     list-style-type: none;
   }

   /*end rules for the page index*/

   /*rules for the page warning*/
   a .lockedop
   {
     color:#B22222;
     float:right;
     margin-right:5%;
     font-size:40px;
   }

   .locked
   {
     width:40%;
     margin-left:30%;
     margin-top:6em;
   }

   .locked img
   {
     width:100%;
   }

   .textwarning
   {
     text-align:center;
     margin-top:1em;
     font-size:20px;
     font-family: 'Lobster', cursive;
   }
   /*end rules for the page warning*/


   /* start rules for the page homeadmin */
.tableau
{
  width: 80%;
  margin-left: 5%;
  margin-top:3em;
}

.consultation
{
  display:flex;
  justify-content:center;
  margin-top:4em;
  margin-bottom:3em;
  flex-wrap:wrap;
}

.box
{
  background-color:#373737;
  padding:2em;
  width:65%;
  margin-top: 20px;
  text-align: center;
}

.box:hover
{
 text-decoration: none;
 background-color: grey;
}

   /* end rules for the page homeadmin */



/* start rules for the page home */
.cardrota
{
  margin-top:1em;
  text-align:center;
  width:90%;
  margin-left:4%;
}
/* end rules for the page home */

/* start rules for the page search */
.plus
{
  color:white;
}

.plus:hover
{
  color:grey;
}

.formstudent
  {
    margin-top: 5em;
    margin-left: 5%;
    width: 90%;
  }

.buttonstudent
{
  background-color: #373737;
  border : 2px solid #373737;
}

.buttonstudent:hover
{
  background-color: #FF5545;
  border : 2px solid #FF5545;
}

/* end rules for the page search */

/* start rules for the page add */
.formadd
{
  margin-top:5em;
  width:90%;
  margin-left:4%;
  margin-bottom: 2em;
}

.modal-header
{
  background-color:#f0ad4e;
  width:95%;
  margin-left:2%;
  margin-bottom: 15px;
}
/* end rules for the page add */



@media (min-width: 600px) {

/* start rules for the page home */
.cardrota
{
  margin-top:1em;
  text-align:center;
  width:60%;
  margin-left:19%;
}
/* end rules for the page home */

/*rules for the page warning*/
    .locked
    {
      width:20%;
      margin-left:40%;
      margin-top: 4em;
    }

    .textwarning
    {
      font-size:25px;
    }
    /*end rules for the page warning*/

/* end rules for the page homeadmin */
.box
     {
       width:51%;
       margin-top: 20px;
     }
     /* end rules for the page homeadmin */

     /* start rules for the page add */

     .modal-header
     {
       width:70%;
       margin-left:14%;
     }
     /* end rules for the page add */

}

   @media (min-width: 768px) {

     /*rules for the page index*/

     header h1
     {
       font-size: 38px;
     }

     .connect
     {
       margin-left: 20%;
       margin-right: 20%;
       padding-top: 4em;
       padding-bottom: 4em;
     }

     .connect input
     {
       width: 70%;
     }

     .connect input:hover
       {
       width: 40%;
       }

     .account
     {
       margin-left: 40%;
     }

     .mdp
     {
       font-size: 16px;
     }
     /*end rules for the page index*/

     /*start rules for the page homeadmin*/
     .box
    {
      width:25%;
      margin-top: 20px;
      margin-left: 2%;
    }
    /*end rules for the page homeadmin*/

    /*rules for the page sear*/
        .formstudent
        {
          width: 60%;
        }
        /*end rules for the page search*/

   }


   @media (min-width: 810px) {

   /* start rules for the page home */
   .cardrota
   {
     margin-top:1em;
     text-align:center;
     width:36%;
     margin-left:32%;
   }
   /* end rules for the page home */

   /* start rules for the page add */
   .formadd
   {
     width:70%;
     margin-left:14%;
   }

   .modal-header
   {
     width:60%;
     margin-left:19%;
   }
   /* end rules for the page add */

   }

   @media (min-width: 1040px) {
   /*start rules for the page homeadmin*/
   .box
     {
       width:22%;
     }
    /*end rules for the page homeadmin*/

  /*start rules for the page search*/

    .formstudent
  {
    width: 40%;
  }
  /*end rules for the page search*/
}




/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
